@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
.perspective-1000 {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
